.aims {
	$self: &;
	margin-bottom: 70px;
	
	@include media('<=md') {
		margin-bottom: 50px;
	}
	
	@include media('<=xxs') {
		margin-bottom: 30px;
	}

	&__inner {
		max-width: 1720px !important;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		overflow: hidden;
		border-radius: 25px;
		
		@include media('<=xlg') {
			border-radius: 20px;
		}
		
		@include media('<=lg') {
			border-radius: 15px;
			grid-gap: 15px;
		}
		
		@include media('<=md') {
			grid-gap: 10px;
			border-radius: 10px;
		}
		
		@include media('<=xs') {
			grid-gap: 8px;
			border-radius: 5px;
		}
		
		@include media('<=xxs') {
			grid-gap: 5px;
			border-radius: 3px;
		}
	}

	&__item {
		position: relative;

		img { display: block; }
	}

	&__content {
		position: absolute;
		bottom: 10%;
		z-index: 2;
		right: 20px;
		left: 20px;
		color: #fff;

		@include media('<=md') {
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__text {
		font-family: "CR", sans-serif;
		text-transform: uppercase;
		font-weight: 200;
		display: block;
		text-align: center;
		margin-bottom: 40px;
		font-size: 35px;
		@include range(35px, 16px, 1440px, 360px);
		
		@include media('<=lg') {
			margin-bottom: 30px;
		}
		
		@include media('<=md') {
			margin: 0;
		}
		
		@include media('<=xxs') {
		}
	}
	
	&__button {
		display: block;
		box-sizing: border-box;
		text-decoration: none;
		text-transform: uppercase;
		color: inherit;
		font-size: 15px;
		padding: 22px;
		width: 100%;
		max-width: 215px;
		border: 1px solid #fff;
		text-align: center;
		margin: 0 auto;
		
		@include media('<=lg') {
			padding: 16px;
		}
		
		@include media('<=md') {
			display: none;
		}
	}
}