.detail {
	$self: &;
	margin-bottom: 80px;

	&__inner {
		display: grid;
		grid-template-columns: 7fr 5fr;
		grid-gap: 30px;
	
		@include media('<=sm') {
			display: block;
		}
	}

	&__gallery {

	}

	&__side {
		max-width: 550px;		
	}

	&__sticky {
		position: sticky;
	}
}