.detail {
	$self: &;
	margin-bottom: 80px;

	&__inner {
		display: grid;
		grid-template-columns: 7fr 5fr;
		grid-gap: 30px;
	
		@include media('<=xs') {
			display: block;
		}
	}

	&__gallery {

	}

	&__side {
		max-width: 550px;
		
		@include media('<=sm') {
			max-width: none;
		}
	}

	&__sticky {
		position: sticky;
		
		@include media('<=xs') {
			position: static;
		}
	}
}