<footer class="footer"> 
	<div class="footer__top f-navi container">
		<div class="f-navi__col">
			<h2 class="f-navi__title">Мы в социальных сетях</h2>
			<div class="f-navi__soc social">
				<a class="social__link" href="./">
					<svg><use xlink:href="#icon-soc-vk"></use></svg>
				</a>
				<a class="social__link" href="./">
					<svg><use xlink:href="#icon-soc-tg"></use></svg>
				</a>
				<a class="social__link" href="./">
					<svg><use xlink:href="#icon-soc-in"></use></svg>
				</a>
			</div>
			<a class="f-navi__title f-navi__title_link" href="./">Каталог</a>
			<a class="f-navi__title f-navi__title_link" href="./">Как сделать заказ</a>
			<a class="f-navi__title f-navi__title_link" href="./">Магазины</a>
		</div>
		<div class="f-navi__col">
			<div class="f-navi__block">
				<h2 class="f-navi__title">Клиентам</h2>
				<div class="f-navi__links">
					<a href="./">Доставка</a>
					<a href="./">Оплата</a>
					<a href="./">Политика конфиденциальности</a>
					<a href="./">Публичная оферта</a>
					<a href="./">Возврат</a>
				</div>
			</div>
			<div class="f-navi__block">
				<h2 class="f-navi__title">Информация</h2>
				<div class="f-navi__links">
					<a href="./">Таблица размеров</a>
					<a href="./">Образы</a>
					<a href="./">Вопрос-ответ</a>
				</div>
			</div>
		</div>
		<div class="f-navi__col">
			<div class="f-navi__block">
				<h2 class="f-navi__title">О компании</h2>
				<div class="f-navi__links">
					<a href="./">Сотрудничество</a>
					<a href="./">История бренда</a>
					<a href="./">Производство</a>
					<a href="./">Новости</a>
					<a href="./">Вакансии</a>
					<a href="./">Контакты</a>
				</div>
			</div>
		</div>
		<div class="f-navi__col">
			<a class="f-navi__phone" href="tel:+74955410707">
				<span>8 (495) 541 07 07</span>
				<span>Звонок бесплатный</span>
			</a>
			<div class="f-navi__info">
				<span >Добавочный номер 1220, 1221, 1230, 1234.</span>
				<span >Понедельник - Пятница: 09:00–17:30 (по мск)</span>
				<a href="mailto:sales@volnui.ru">sales@volnui.ru</a>
			</div>
		</div>
	</div>
	<hr />
	<div class="footer__bottom container">
		<div class="footer__copy">
			&copy; 2024 Все права защищены.<br/>
			Использование материалов с сайта без разрешения правообладателя и активной ссылки на сайт запрещено.
		</div>
		<div class="footer__dev">разработка сайта — <a href="./">sepayr.ru</a></div>
	</div>
</footer> 

@@include("_modals.html") 
@@include("_sprite.svg")
<script src="common.js"></script> 
</body> 
</html>