<div class="cart__row">
	<a class="cart__image" href="./detail.html" data-discount="-15%"><img src="./images/card-image-5.webp" alt=""></a>
	<div class="cart__mid">
		<div class="cart__info">
			<h2>Жакеты</h2>
			<p>Брюки зауженные к низу лавандового цвета</p>
			<p>
				<span>Cостав: шерсть - 45%, полиэстер - 55%</span>
				<span>Код товара: 4-1978-5370-2</span>
			</p>
		</div>
		<div class="cart__price">
			<p>7 500 руб <span>x</span> 1</p>
			<p>4 500 руб.</p>
		</div>
	</div>
	<div class="cart__end">
		<div class="cart__control">
			<button>-</button><input type="text" value="1" readonly><button>+</button>
		</div>
		<div class="cart__total">87 500 руб</div>
		<button class="cart__delete"></button>
	</div>
</div>