<div class="feed__item card"  @@if(this.order){style="order: @@order"} >
	<div class="card__tabs tab">
		<div class="card__sliders tab__blocks">
			<div class="card__slider tab__block swiper active" data-badge="new" data-discount="-34%">
				<div class="swiper-wrapper">
					<div class="card__slide swiper-slide"><img src="./images/card-image-1.webp" alt=""></div>
					<div class="card__slide swiper-slide"><img src="./images/card-image-2.webp" alt=""></div>
					<div class="card__slide swiper-slide"><img src="./images/card-image-3.webp" alt=""></div>
					<div class="card__slide swiper-slide"><img src="./images/card-image-4.webp" alt=""></div>
				</div>
				<div class="card__dots"></div>
				<a class="card__link" href="./">Смотреть весь образ</a>
			</div>
			<div class="card__slider tab__block swiper" data-badge="new" data-discount="-20%">
				<div class="swiper-wrapper">
					<div class="card__slide swiper-slide"><img src="./images/card-image-3.webp" alt=""></div>
					<div class="card__slide swiper-slide"><img src="./images/card-image-2.webp" alt=""></div>
					<div class="card__slide swiper-slide"><img src="./images/card-image-1.webp" alt=""></div>
				</div>
				<div class="card__dots"></div>
				<a class="card__link" href="./">Смотреть весь образ</a>
			</div>
		</div>
		<div class="card__toggles tab__buttons">
			<button class="card__toggle tab__button active"></button>
			<button class="card__toggle tab__button"></button>
		</div>
	</div>
	<div class="card__bottom">
		<h2 class="card__title">Спортивный топ</h2>
		<div class="card__irrelevant">4599 ₽</div>
		<div class="card__price">2999 ₽</div>
	</div>
</div>