<header class="header @@if(this.mod){header_@@mod}" @@if(! this.mod){data-scroll-lock-fill-gap}>
	<div class="header__inner">
		<button class="header__toggle">
			<svg><use xlink:href="#icon-menu"></use></svg>
		</button>
		<a class="header__logo" href="./">
			<img src="./images/logo.svg" alt="Logo">
		</a>
		<div class="header__menu">
			<a class="header__link" href="./" data-hint="top">новинки</a>
			<a class="header__link" href="./category.html">для неё</a>
			<a class="header__link" href="./category.html">для него</a>
			<a class="header__link" href="./category.html">unisex</a>
			<a class="header__link" href="./about.html">о нас</a>
			<a class="header__link" href="./info.html">сотрудничество</a>
			<a class="header__link" href="./">контакты</a>
		</div>
		<a class="header__button header__button_card" href="./" data-cart="2">
			<svg><use xlink:href="#icon-cart"></use></svg>
		</a>
		<button class="header__button">
			<svg><use xlink:href="#icon-zoom"></use></svg>
		</button>
		<button class="header__button">
			<svg><use xlink:href="#icon-heart"></use></svg>
		</button>
	</div>
	<div class="header__navi navi">
		<div class="navi__content" data-scroll-lock-scrollable>
			<div class="navi__block">
				<h2 class="navi__title">Женщинам</h2>
				<div class="navi__links">
					<a href="./category.html">Lorem ipsum dolor</a>
					<a href="./category.html">Sit amet consectetur</a>
					<a href="./category.html">Adipisicing elit</a>
					<a href="./category.html">Fugiat dignissimos</a>
				</div>
			</div>
			<div class="navi__block">
				<h2 class="navi__title">Мужчинам</h2>
				<div class="navi__links">
					<a href="./category.html">Iste aspernatur quis</a>
					<a href="./category.html">Adipisci architecto</a>
					<a href="./category.html">Numquam exercitationem</a>
					<a href="./category.html">Reiciendis voluptatibus</a>
				</div>
			</div>
			<div class="navi__block">
				<h2 class="navi__title">Unisex</h2>
				<div class="navi__links">
					<a href="./category.html">Deserunt laborum</a>
					<a href="./category.html">Asperiores cupiditate</a>
					<a href="./category.html">Veniam velit atque</a>
					<a href="./category.html">Commodi quaerat nulla</a>
				</div>
			</div>
			<a class="navi__title navi__title_link navi__title_mobile" href="./category.html">Новинки</a>
			<a class="navi__title navi__title_link" href="./info.html#order">Как сделать заказ</a>
			<a class="navi__title navi__title_link" href="./">Магазины</a>
			<div class="navi__block">
				<h2 class="navi__title">Информация</h2>
				<div class="navi__links">
					<a href="./info.html#delivery">Доставка</a>
					<a href="./info.html#payment">Оплата</a>
					<a href="./info.html#politics">Политика конфиденциальности</a>
					<a href="./">Публичная оферта</a>
					<a href="./info.html#return">Возврат</a>
				</div>
			</div>
			<div class="navi__block">
				<h2 class="navi__title">Клиентам</h2>
				<div class="navi__links">
					<a href="./">Таблица размеров</a>
					<a href="./">Образы</a>
					<a href="./">Вопрос-ответ</a>
				</div>
			</div>
			<div class="navi__block">
				<h2 class="navi__title">О компании</h2>
				<div class="navi__links">
					<a href="./">Сотрудничество</a>
					<a href="./">История бренда</a>
					<a href="./">Производство</a>
					<a href="./article.html">Новости</a>
					<a href="./">Вакансии</a>
					<a href="./contacts.html">Контакты</a>
				</div>
			</div>
			<a class="navi__phone" href="./">
				<span>ПН–ПТ: 09:00–17:30 (по мск)</span>
				<span>8 (495) 541 07 07</span>
				<span>Звонок бесплатный</span>
			</a>
			<div class="navi__panel">
				<button class="header__button header__button_mobile">
					<svg><use xlink:href="#icon-zoom"></use></svg>
				</button>
				<button class="header__button header__button_mobile">
					<svg><use xlink:href="#icon-heart"></use></svg>
				</button>
			</div>
		</div>
	</div>
</header>