<div class="d-sizes @@if(this.cls){@@cls}">
	<div class="d-sizes__head">
		<span>Доступные размеры:</span>
		<svg><use xlink:href="#icon-rule"></use></svg>
		<span>Таблица размеров</span>
	</div>
	<div class="d-sizes__table">
		<div class="d-sizes__titles">
			<div class="d-sizes__title">Размер:</div>
			<div class="d-sizes__title">Количество:</div>
		</div>
		<div class="d-sizes__items">
			<div class="d-sizes__item">
				<div class="d-sizes__value">40</div>
				<div class="d-sizes__control disabled">
					<button>+</button><input type="text" value="0" readonly><button>-</button>
				</div>
			</div>
			<div class="d-sizes__item">
				<div class="d-sizes__value">42</div>
				<div class="d-sizes__control">
					<button>+</button><input type="text" value="0" readonly><button>-</button>
				</div>
			</div>
			<div class="d-sizes__item">
				<div class="d-sizes__value">44</div>
				<div class="d-sizes__control">
					<button>+</button><input type="text" value="0" readonly><button>-</button>
				</div>
			</div>
			<div class="d-sizes__item">
				<div class="d-sizes__value">46</div>
				<div class="d-sizes__control">
					<button>+</button><input type="text" value="0" readonly><button>-</button>
				</div>
			</div>
			<div class="d-sizes__item">
				<div class="d-sizes__value">48</div>
				<div class="d-sizes__control disabled">
					<button>+</button><input type="text" value="0" readonly><button>-</button>
				</div>
			</div>
			<div class="d-sizes__item">
				<div class="d-sizes__value">50</div>
				<div class="d-sizes__control disabled">
					<button>+</button><input type="text" value="0" readonly><button>-</button>
				</div>
			</div>
		</div>
	</div>
</div>