.d-form {
	$self: &;
	display: flex;
	flex-flow: column nowrap;

	@include media('<=xs') {
		padding-top: 20px;
	}

	&__title {
		font-family: "CR", sans-serif;
		font-size: 40px;
		font-weight: 300;
		margin-bottom: 15px;
		
		@include media('<=lg') {
			font-size: 34px;
		}
		
		@include media('<=md') {
			font-size: 30px;
		}
		
		@include media('<=xxs') {
			font-size: 24px;
		}
	}
	
	&__prices {
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	}

	&__price-current {
		font-size: 26px;
		margin-right: 25px;
		
		@include media('<=xs') {
			margin-right: auto;
		}
	}
	
	&__price-old {
		color: #808080;
		text-decoration: line-through;
		
		svg {
			fill: #808080;
			width: 16px;
			height: 9px;
			margin-right: 6px;
		}
	}

	&__toggles {
		margin-bottom: 10px;

		@include media('<=xs') {
			margin: 0 auto 10px;
			order: -1;
		}
	}
	
	&__colors {
		margin-bottom: 25px;
		
		@include media('<=xs') {
			margin-bottom: 20px;
			text-align: center;
			order: -1;
		}
	}

	&__color {
		display: none;

		&.active {
			display: block;
		}
		
		&.showing {
			animation: showItem 0.5s;
		}
	}

	&__props {
		font-size: 13px;
		margin-bottom: 40px;

		span {
			display: block;
			margin-bottom: 10px;
		}
	}

	&__sizes {
		margin-bottom: 22px;
		
		@include media('<=xs') {
			margin-bottom: 28px;
		}
	}

	&__buttons {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr repeat(2, 70px);
		margin-bottom: 22px;
		min-height: 70px;
		grid-gap: 22px;
		
		@include media('<=lg') {
			grid-gap: 15px;
		}
		
		@include media('<=xs') {
			display: block;
			min-height: 50px;
			// position: fixed;
			// left: 16px;
			// right: 16px;
			// bottom: 0;
			// z-index: 3;
		}
		
		@include media('<=xxs') {
			font-size: 13px;
			grid-gap: 10px;
		}
	}

	&__panel {
		display: none;
		min-height: 70px;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		
		@include media('<=xs') {
			display: flex;
		}
		
		button {
			@extend %reset-button;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			border-top: 1px solid #f2f2f2;
			font-family: "IN", sans-serif;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			width: 50%;
			
			@include media('<=xxs') {
				font-size: 12px;
				height: 50px;
			}

			&:nth-child(1) {
				border-color: #3CFFB9;
				background-color: #3CFFB9;
			}
		}
	}

	&__buy {
		@extend %reset-button;
		box-sizing: border-box;
		display: block;
		line-height: 1;
		font-size: 14px;
		font-weight: 700;
		padding: 15px 20px;
		text-align: center;
		text-transform: uppercase;
		background-color: #3CFFB9;
		font-family: "IN", sans-serif;
		flex-grow: 1;
		
		@include media('<=xs') {
			width: 100%;
			max-width: 430px;
			margin: 0 auto;
		}
		
		@include media('<=xxs') {
			font-size: 13px;
		}
		
		@include media('<=xxxs') {
			font-size: 12px;
		}
	}
	
	&__cart {
		@extend %reset-button;
		box-sizing: border-box;
		background-color: #3CFFB9;
		
		@include media('<=xs') {
			display: none;
		}
		
		svg {
			width: 26px;
			height: 22px;
		}
	}
	
	&__favorite {
		@extend %reset-button;
		box-sizing: border-box;
		background-color: #fff;
		border: 1px solid #e6e6e6;
		
		@include media('<=xs') {
			display: none;
		}

		svg {
			fill: transparent;
			stroke-width: 2;
			stroke: #FF8080;
			width: 26px;
			height: 22px;
		}

		&_set svg {
			fill: #FF8080;
		}
	}

	&__info {
		box-sizing: border-box;
		border-top: 1px solid #f6f6f6;
		padding-top: 40px;
	}

	&__info-title {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__info-text {
		font-size: 13px;

		p {
			margin-bottom: 20px;
		}
	}
}