.subscribe {
	$self: &;
	margin-bottom: 100px;

	&__inner {
		max-width: 1070px !important;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__text {
		margin-bottom: 50px;
		text-align: center;
		line-height: 1.9;
		font-size: 14px;
	}

	&__form {

	}
	
	&__fields {
		margin-bottom: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}

	&__field {
		border-bottom: 1px solid #D9D9D9;
		
		&::before {
			display: block;
			content: attr(data-title);
			text-transform: uppercase;
			font-size: 12px;
		}
		
		input {
			@extend %reset-input;
			height: 60px;
			width: 100%;
			min-width: 0;
			font-size: 14px;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__agree {
		margin-right: 24px;
		font-family: "CR", sans-serif;
	}

	&__agree-item {
		box-sizing: border-box;
		font-size: 12px;
		display: flex;
		margin-bottom: 8px;

		input[type='checkbox'] {
			@extend %reset-button;
			align-self: flex-start;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 15px;
			height: 15px;
			width: 15px;
			border: 1px solid #D6D6D6;

			&:checked::before {
				display: block;
				content: '';
				width: 9px;
				height: 7px;
				background: url('#{$images-path}icons-sprite.svg#shape-check-view') center / auto no-repeat transparent;
			}
		}

		a {
			display: block;
			color: inherit;
			margin-bottom: 10px;
		}
	}

	&__submit {

	}
}