.utils {
	$self: &;
	display: flex;
	align-items: center;
		
	@include media('<=xlg') {
		justify-content: flex-end;
	}

	&__button {
		@extend %reset-button;
		width: 100%;
		min-width: 40px;
		max-width: 60px;
		line-height: 1;
		
		@include media('<=xlg') {
			max-width: 50px;
		}

		&_card {
			
		}

		&_search {
			
		}

		&_favorites {
			
		}

		svg {
			fill: #fff;
			display: block;
			max-height: 22px;
		}
	}
}