.hero {
	$self: &;
	height: 100vh;
	height: 100dvh;
	display: flex;
	position: relative;
	z-index: 1;
	margin-bottom: 90px;
	
	@include media('<=md') {
		margin-bottom: 60px;
	}
	
	@include media('<=xxs') {
		margin-bottom: 40px;
	}

	&__slider {

	}

	&__slide {
		height: auto;
		position: relative;
		
		img, video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::before {
			content: attr(data-text);
			position: absolute;
			font-family: "ND", sans-serif;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			right: 24px;
			left: 24px;
			bottom: 5%;
			font-size: 54px;
			@include range(54px, 28px, 1440px, 480px);
		}
	}

	&__status {
		position: absolute;
		z-index: 3;
		left: 70px;
		top: 36%;
		color: #fff;
		font-size: 12px;
		font-weight: 500;
		width: 100%;
		max-width: 90px;
		
		@include media('<=xxxlg') {
			left: 24px;
		}
		
		@include media('<=md') {
			display: none;
		}
	}

	&__s-current {
		margin-bottom: 20px;
	}

	&__s-total {
		width: fit-content;
		margin-left: auto;
	}

	&__s-progress {
		margin-bottom: 20px;
		height: 1px;
		background-color: rgba(255, 255, 255, 0.3);

		span {
			display: block;
			background-color: #fff;
			height: 100%;
			transition: width 0.3s;
		}
	}

	&__dots {
		position: absolute;
		display: flex;
		border-top: 1px solid #fff;
		padding-top: 28px;
		z-index: 3;
		left: 70px;
		bottom: 20%;
		
		@include media('<=xxxlg') {
			left: 24px;
		}
		
		@include media('<=md') {
			display: none;
		}
	}
	
	&__dot {
		box-sizing: border-box;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		border: 1px solid #fff;
		cursor: pointer;
		
		&.active {
			background-color: #fff;
		}

		&:not(:last-child) {
			margin-right: 14px;
		}
	}
	
	&__button {
		box-sizing: border-box;
		position: absolute;
		z-index: 3;
		color: #fff;
		border: 1px solid #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		padding: 36px;
		width: calc(100% - 30px);
		max-width: 300px;
		text-align: center;
		left: 200px;
		top: 50%;
		transform: translateY(-50%);
		transition: background-color 0.3s;
		
		@include media('<=md') {
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
	
	&__link {
		box-sizing: border-box;
		position: absolute;
		right: 150px;
		top: 50%;
		z-index: 3;
		width: 115px;
		height: 115px;
		background: url('#{$images-path}watch.svg') center / contain no-repeat transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		
		@include media('<=md') {
			display: none;
		}

		svg {
			fill: #3CFFB9;
			width: 25px;
			height: 14px;
		}
	}
}