.info {
	$self: &;
	
	&__top {
		max-width: 1300px !important;

		@include media('<=sm') {
			padding-bottom: 20px;
		}
	}

	&__titles {
		min-height: 90px;
		margin-bottom: 60px;
		
		@include media('<=sm') {
			margin-bottom: 20px;
		}
	}

	&__title {
		display: none;
	
		&.active {
			display: block;
		}
		
		&.showing {
			animation: showItem 0.5s;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;

		@include media('<=sm') {
			display: block;
		}
	}

	&__button {
		@extend %reset-button;
		display: block;
		font-family: "CR", sans-serif;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 700;
		flex-grow: 1;
			
		@include media('<=sm') {
			text-align: left;
			min-width: 50%;
		}
	
		span {
			display: block;
			width: fit-content;
			border-bottom: 2px solid transparent;
			padding: 0 0 40px;
			margin: 0 auto;
			
			@include media('<=sm') {
				padding: 10px 0 5px;
				margin: 0;
			}
		}
		
		&.active span {
			border-color: #000;
		}
	}

	&__content {
		background-color: #F8F8F8;
		padding: 60px 0 100px;
		
		@include media('<=md') {
			padding: 60px 0;
		}
		
		@include media('<=sm') {
			padding: 40px 0;
		}
		
		@include media('<=xs') {
			padding: 30px 0;
		}
	}
	
	&__block {
		max-width: 950px;
		display: none;
	
		&.active {
			display: block;
		}
		
		&.showing {
			animation: showItem 0.5s;
		}
	}
}