.card {
	$self: &;
	min-width: 0;
	overflow: hidden;
	font-family: "CR", sans-serif;
	display: flex;
	flex-flow: column nowrap;
	text-decoration: none;
	color: inherit;
	
	&__tabs {
		position: relative;
	}

	&__sliders {

	}
	
	&__slider {
		position: relative;

		&::before, &::after {
			display: block;
			position: absolute;
			text-transform: uppercase;
			border-radius: 2px;
			line-height: 1;
			z-index: 3;
			top: 10px;
		}
		
		&[data-badge]::before {
			content: attr(data-badge);
			background-color: #3CFFB9;
			padding: 5px 7px 4px;
			font-weight: 700;
			font-size: 9px;
			left: 10px;
			
			@include media('<=xxs') {
				padding: 4px 5px 3px;
			}
		}
		
		&[data-discount]::after {
			content: attr(data-discount);
			background-color: #fff;
			padding: 3px 9px 2px;
			font-size: 12px;
			right: 10px;
			
			@include media('<=xxs') {
				padding: 3px 5px 2px;
				font-size: 10px;
			}
		}

		&:hover {
			#{$self}__link {
				opacity: 1;
				transform: none;
			}
		}
	}
	
	&__slide {
		@include aspect-ratio(3, 4.2);
	
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__dots {
		box-sizing: border-box;
		display: flex;
		position: absolute;
		z-index: 2;
		bottom: 5px;
		left: 10px;
		right: 10px;

		&.swiper-pagination-lock {
			display: none;
		}
	}

	&__dot {
		box-sizing: border-box;
		height: 3px;
		margin-right: 2px;
		background-color: #C2C5C7;
		opacity: 0.5;
		flex-grow: 1;
		transition: opacity 0.5s;
		
		@include media('<=xxs') {
			height: 2px;
		}

		&.active {
			opacity: 1;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__link {
		box-sizing: border-box;
		position: absolute;
		bottom: 50px;
		left: 10px;
		right: 10px;
		z-index: 1;
		opacity: 0;
		transform: translateY(50%);
		transition: opacity 0.3s, transform 0.3s;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		font-weight: 300;
		font-size: 14px;
		padding: 10px;
		border: 1px solid #fff;
		
		@include media('<=xxs') {
			font-size: 11px;
		}
		
		@include media('<=xxxs') {
			font-size: 10px;
			padding: 7px 5px 5px;
			// font-size: 14px;
		}
	}

	&__toggles {
		position: absolute;
		bottom: 20px;
		left: 10px;
		right: 10px;
		z-index: 1;
		min-height: 25px;
		display: flex;
		align-items: center;
		
		@include media('<=xxxs') {
			bottom: 15px;
		}
	}

	&__favorite {
		@extend %reset-button;
		box-sizing: border-box;
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		width: 22px;
		height: 18px;
		
		svg {
			fill: transparent;
			stroke-width: 2;
			stroke: #b1b1b1;
			width: 100%;
			height: 100%;
			transition: stroke 0.2s, fill 0.2s;
		}
		
		&_set svg {
			stroke: #cf5554;
			fill: #cf5554;
		}
	}

	&__bottom {
		padding-top: 10px;
		display: flex;

		@include media('<=xs') {
			font-size: 13px;
		}

		@include media('<=xxs') {
			font-size: 11px;
		}

		@include media('<=xxxs') {
			flex-wrap: wrap;
			justify-content: space-between;
			// font-size: 16px;
		}
	}

	&__title {
		margin-right: auto;

		@include media('<=xxxs') {
			width: 100%;
			order: 1;
			// margin-bottom: 5px;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	&__irrelevant {
		color: #B1B1B1;
		text-decoration: line-through;
		margin-right: 20px;
		white-space: nowrap;
		
		@include media('<=xxs') {
			margin-right: 10px;
		}
		
		@include media('<=xxxs') {
			// margin-right: 20px;
		}
	}
	
	&__price {
		white-space: nowrap;
	}
}