.cart {
	$self: &;

	&__row {
		display: grid;
		grid-template-columns: 170px auto auto;
		grid-gap: 20px;
		align-items: center;
		
		@include media('<=md') {
			align-items: stretch;
			grid-template-columns: 190px auto;
		}
		
		@include media('<=xs') {
			grid-template-columns: 160px auto;
		}
		
		@include media('<=xxs') {
			grid-template-columns: 120px auto;
		}
		
		@include media('<=xxxs') {
			// grid-template-columns: auto;
		}

		&:not(:last-child) {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid #eee;
		}
	}

	&__image {
		position: relative;
		text-decoration: none;
		color: inherit;
		margin-right: 10px;
		grid-column: span 1;
		align-self: start;
		height: 100%;
		
		@include media('<=md') {
			grid-row: span 2;
		}
		
		@include media('<=xs') {
			grid-row: span 1;
		}
		
		@include media('<=xxs') {
			margin: 0;
		}
		
		@include media('<=xxxs') {
			// max-height: 280px;
		}

		img {
			object-fit: cover;
			display: block;
			height: 100%;
			width: 100%;
			object-position: top;
		}

		&::before {
			display: block;
			content: attr(data-discount);
			background-color: #3CFFB9;
			text-transform: uppercase;
			padding: 5px 7px 4px;
			font-weight: 700;
			font-size: 9px;
			line-height: 1;
			border-radius: 2px;
			position: absolute;
			z-index: 1;
			left: 5px;
			top: 5px;
			
			@include media('<=xxs') {
				padding: 4px 5px 3px;
			}
		}
	}

	&__mid {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;
		grid-gap: 20px;
		grid-column: span 1;
		
		@include media('<=md') {
			grid-template-columns: auto;
		}
	}

	&__info {
		grid-column: span 1;
		
		@include media('<=xxs') {
			font-size: 14px;
		}

		h2, p {
			margin-bottom: 20px;
			
			@include media('<=md') {
				margin-bottom: 10px;
			}
		}

		p:last-child {
			margin-bottom: 0;
		}

		span {
			display: block;
		}
	}

	&__price {
		white-space: nowrap;
		grid-column: span 1;
		
		@include media('<=xxxs') {
			font-size: 15px;
			// display: flex;
			// justify-content: space-between;
		}

		p {
			margin-bottom: 10px;
			font-weight: 700;
		
			@include media('<=xxxs') {
				margin: 0;
			}
				
			&:last-child {
				margin: 0;
				color: #bbb;
				text-decoration: line-through;
			}
		}
		
		span {
			color: #bbb;
			font-size: 18px;
			font-weight: 300;
		}
	}

	&__end {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-gap: 30px;
		grid-auto-rows: 50px;
		grid-column: span 1;
		
		@include media('<=md') {
			margin-top: auto;
			justify-content: start;
		}
		
		@include media('<=xs') {
			grid-template-columns: repeat(2, auto) 1fr;
			grid-column: span 2;
			justify-content: stretch;
		}
		
		@include media('<=xxs') {
			grid-gap: 20px;
			grid-auto-rows: 40px;
		}
		
		@include media('<=xxxs') {
			// grid-gap: 10px;
			// grid-column: span 1;
		}
	}
	
	&__control {
		display: grid;
		grid-template-columns: repeat(3, 50px);
		justify-content: center;
		height: 100%;

		@include media('<=xxs') {
			grid-template-columns: repeat(3, 40px);
		}

		input, button {
			@extend %reset-button;
			width: 100%;
			text-align: center;
			background-color: #fafafa;
			font-family: "CR", sans-serif;
			line-height: 1;
		}
		
		button {
			background-color: #f0f0f0;
			font-size: 22px;
		
			@include media('<=xxxs') {
				background-color: #e8e8e8;
			}
		}
	}
	
	&__total {
		font-weight: 700;
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media('<=xxxs') {
			font-size: 15px;
		}
	}

	&__delete {
		@extend %reset-button;
		width: 50px;
		height: 100%;
		background: url('#{$images-path}icons-sprite.svg#shape-close-view-dark') center / 24px 24px no-repeat #f0f0f0;
		flex-shrink: 0;
		
		@include media('<=xs') {
			margin-left: auto;
		}
		
		@include media('<=xxs') {
			width: 40px;
			background-size: 22px 22px;
		}
		
		@include media('<=xxxs') {
			background-color: #e8e8e8;
		}
	}
}