.h-navi {
	$self: &;
	display: flex;
	color: #fff;

	&__close {
		display: none;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
	}

	&__link {
		box-sizing: border-box;
		position: relative;
		color: inherit;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		white-space: nowrap;
		padding: 8px 0;
		margin-right: 45px;
		
		@include media('<=xlg') {
			padding: 8px 10px;
			margin: 0;
		}
		
		@include media('<=lg') {
			font-size: 12px;
		}

		&::before {
			content: attr(data-hint);
			position: absolute;
			color: #E32726;
			font-weight: 700;
			font-size: 9px;
			line-height: 1;
			bottom: calc(100% - 5px);
			left: 100%;

			@include media('<=xlg') {
				left: calc(100% - 10px);
			}
		}

		&:nth-child(5) {
			
			@include media('>xlg') {
				margin-left: auto;
			}
		}
	}

	&__utils {
		max-width: 300px;
		flex-grow: 1;

		@include media('<=xlg') {
			margin-left: 15px;
		}
	}
}