.n-card {
	$self: &;

	&__image {
		margin-bottom: 28px;
		
		img {
			display: block;
		}
	}

	&__bottom {

	}

	&__title {
		font-weight: 500;
		margin-bottom: 5px;
	}

	&__link {
		color: #188BDE;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
	}
}