.n-card {
	$self: &;

	&__image {
		margin-bottom: 28px;
		
		@include media('<=sm') {
			margin-bottom: 15px;
		}
		
		img {
			display: block;
		}
	}

	&__bottom {

	}

	&__title {
		font-weight: 500;
		margin-bottom: 5px;

		@include media('<=sm') {
			font-size: 14px;
		}
	}
	
	&__link {
		color: #188BDE;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;

		@include media('<=sm') {
			font-size: 12px;
		}
	}
}