.feed {
	$self: &;
	margin-bottom: 80px;
	
	@include media('<=md') {
		margin-bottom: 60px;
	}
	
	@include media('<=xxs') {
		margin-bottom: 40px;
	}

	&__title {
		margin-bottom: 70px;
	
		@include media('<=md') {
			margin-bottom: 50px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 30px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 50px 60px;
		
		@include media('<=xxxlg') {
			grid-gap: 50px;
		}
		
		@include media('<=xxlg') {
			grid-gap: 50px 40px;
		}
		
		@include media('<=xlg') {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 50px 30px;
		}
		
		@include media('<=md') {
			grid-gap: 50px 20px;
		}
		
		@include media('<=840px') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=520px') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		box-sizing: border-box;
		grid-column: span 1;
	}

	&__video {
		grid-column: span 2;
		grid-row: span 2;
		@include aspect-ratio(3, 1.703);

		video {
			display: block;
			width: 100%;
			height: calc(100% - 30px);
			object-fit: cover;
		}
		
		&_wide {
			grid-column: span 4;
			margin: 0 -24px;

			video {
				height: 100%;
			}
		}

		@include media('<=xlg') {
			display: none;
		}
	}
}