.feed {
	$self: &;
	margin-bottom: 80px;
	
	@include media('<=md') {
		margin-bottom: 60px;
	}
	
	@include media('<=xxs') {
		margin-bottom: 40px;
	}

	&__title {
		margin-bottom: 70px;
	
		@include media('<=md') {
			margin-bottom: 50px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 30px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 50px 60px;
		
		@include media('<=xxxlg') {
			grid-gap: 50px;
		}
		
		@include media('<=xxlg') {
			grid-gap: 50px 40px;
		}
		
		@include media('<=xlg') {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 50px 30px;
		}
		
		@include media('<=md') {
			grid-gap: 50px 20px;
		}
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xs') {
			grid-gap: 50px 10px;
		}
		
		@include media('<=xxxs') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		box-sizing: border-box;
		grid-column: span 1;
	}

	&__video {
		box-sizing: border-box;
		grid-column: span 2;
		grid-row: span 2;
		position: relative;
		@include aspect-ratio(3, 4.18);
		
		@include media('<=md') {
			grid-column: span 2;
		}
		
		@include media('<=xxxs') {
			grid-column: span 1;
		}

		&_1 {
			order: 5;
			
			@include media('<=xlg') {
				order: 3;
			}
			
			@include media('<=sm') {
				order: 4;
			}
		}
		
		&_2 {
			order: 12;

			@include media('<=xlg') {
				order: 11;
			}
			
			@include media('<=sm') {
				order: 12;
			}
		}
		
		&_3 {
			order: 22;

			@include media('<=xlg') {
				order: 15;
			}
			
			@include media('<=sm') {
				order: 16;
			}
		}
		
		&_4 {
			order: 28;

			@include media('<=xlg') {
				order: 19;
			}
			
			@include media('<=sm') {
				order: 20;
			}
		}
		
		&_5 {
			order: 36;

			@include media('<=xlg') {
				order: 27;
			}
			
			@include media('<=sm') {
				order: 28;
			}
		}

		&_last {
			order: 999999999;
		}
		
		video {
			display: block;
			width: 100%;
			height: calc(100% - 30px);
			object-fit: cover;
			
			@include media('<=sm') {
				height: 100%;
			}
		}
		
		&_wide {
			@include aspect-ratio(3, 1.703);
			grid-column: span 4;
			margin: 0 -24px;
			
			@include media('<=xlg') {
				grid-column: span 3;
			}
			
			@include media('<=sm') {
				margin: 0;
				grid-column: span 2;
			}
		
			@include media('<=xxxs') {
				@include aspect-ratio(3, 2);
				grid-column: span 1;
			}
		
			video {
				height: 100%;
			}
		}

		a {
			box-sizing: border-box;
			position: absolute;
			left: 150px;
			top: calc(100% - 260px);
			z-index: 3;
			width: 115px;
			height: 115px;
			background: url('#{$images-path}watch.svg') center / contain no-repeat transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			
			@include media('<=xlg') {
				left: 80px;
				top: calc(100% - 200px);
			}
			
			@include media('<=md') {
				width: 80px;
				height: 80px;
				left: 60px;
				top: calc(100% - 140px);
			}
			
			@include media('<=xxs') {
				width: 60px;
				height: 60px;
				left: 20px;
				top: calc(100% - 80px);
			}
	
			svg {
				fill: #fff;
				width: 25px;
				height: 14px;
			}
		}
	}
}