@import "lib/additional.scss"; 
@include reset(); 

// Browsersync mark
#__bs_notify__ { 
	background-color: rgba(27, 32, 50, 0.4) !important;
	color: rgba(250, 250, 250, 0.6) !important;
}

// Include breakpoints badge
// body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);

@include font-face("Inter-ExtraLight", "IN", 200);
@include font-face("Inter-ExtraBold", "IN", 800);
@include font-face("Inter-SemiBold", "IN", 600);
@include font-face("Inter-Regular", "IN", 400);
@include font-face("Inter-Medium", "IN", 500);
@include font-face("Inter-Light", "IN", 300);
@include font-face("Inter-Black", "IN", 900);
@include font-face("Inter-Bold", "IN", 700);
@include font-face("Inter-Thin", "IN", 100);
@include font-face("Nudla-Thin", "ND", 100);
@include font-face("Circe-ExtraLight", "CR", 200);
@include font-face("Circe-Regular", "CR", 400);
@include font-face("Circe-Light", "CR", 300);
@include font-face("Circe-Bold", "CR", 700);
@include font-face("Circe-Thin", "CR", 100);

@import "../../node_modules/swiper/swiper";

// Import BEM blocks scss
@import "../blocks/**/*.scss";

:root {
	--size: #{$basesize}px;
	--container: 4480px;
	--gap: 24px;
	
	@include media('<=xs') {
		--gap: 16px;
	}
}

body, html {
	box-sizing: border-box;
	background-color: #fff;
	color: #000;
	font-size: var(--size);
	font-family: "CR", sans-serif;
	line-height: 1.2;
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}

.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}

.sprite {
	display: none;
}

p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

@keyframes showItem {
	from { opacity: 0; }
	to { opacity: 1; }
}