.header {
	$self: &;

	&_home {
		height: 120px;
		margin-bottom: -120px;
		position: relative;
		z-index: 2;
	}

	&__inner {
		display: flex;
		align-items: center;
		height: 100%;
		max-width: 1780px !important;
	}

	&__navi-toggle {
		@extend %reset-button;
		flex-grow: 1;
		min-width: 45px;
		max-width: 80px;
		text-align: left;
		
		@include media('<=xlg') {
			flex-grow: 0;
			max-width: none;
		}

		svg {
			display: block;
			fill: #3CFFB9;
			height: 16px;
			width: 25px;
		}
	}

	&__logo {
		box-sizing: border-box;
		padding-right: 20px;
		max-width: 250px;
		min-width: 110px;
		width: 100%;
		
		@include media('<=xlg') {
			width: auto;
			max-width: 185px;
		}
		
		@include media('<=lg') {
			max-width: 170px;
		}

		img {
			display: block;
		}
	}

	&__navi {
		flex-grow: 1;

		@include media('<=md') {
			display: none;
		}
	}
}