.header {
	$self: &;
	box-sizing: border-box;
	background-color: #000;
	height: 70px;
	position: fixed;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;

	&_outer {
		background-color: transparent;
		height: 120px;
		margin: 0 0 -120px;
		position: relative;
		z-index: 2;

		#{$self}__logo {
			max-width: 250px;
			min-width: 110px;
			
			@include media('<=xlg') {
				width: auto;
				max-width: 185px;
			}
			
			@include media('<=lg') {
				max-width: 170px;
			}
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		height: 100%;
		max-width: 1840px !important;
		width: calc(100% - 48px);
		margin-right: auto;
		margin-left: auto;
	
	}

	&__toggle {
		@extend %reset-button;
		flex-grow: 1;
		height: 40px;
		min-width: 45px;
		max-width: 70px;
		text-align: left;
		position: relative;
		z-index: 14;
		
		@include media('<=xlg') {
			flex-grow: 0;
			max-width: none;
		}

		svg {
			display: block;
			fill: #3CFFB9;
			height: 16px;
			width: 25px;
		}
	}

	&__logo {
		box-sizing: border-box;
		padding-right: 50px;
		width: 100%;
		min-width: 110px;
		max-width: 200px;
		position: relative;
		z-index: 14;
		
		@include media('<=xlg') {
			padding-right: 20px;
			max-width: 170px;
		}

		img {
			display: block;
		}
	}

	&__menu {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media('<=md') {
			display: none;
		}
	}

	&__link {
		box-sizing: border-box;
		position: relative;
		color: inherit;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		white-space: nowrap;
		padding: 8px 0;
		margin-right: 45px;
		color: #fff;
		
		@include media('<=xlg') {
			padding: 8px 10px;
			margin: 0;
		}
		
		@include media('<=lg') {
			font-size: 12px;
		}

		&[data-hint]::before {
			content: attr(data-hint);
			position: absolute;
			color: #E32726;
			font-weight: 700;
			font-size: 9px;
			line-height: 1;
			bottom: calc(100% - 5px);
			left: 100%;

			@include media('<=xlg') {
				left: calc(100% - 10px);
			}
		}

		&:nth-child(5) {
			
			@include media('>xlg') {
				margin-left: auto;
			}
		}
	}
	
	&__button {
		@extend %reset-button;
		width: 100%;
		min-width: 40px;
		max-width: 60px;
		line-height: 1;
		
		@include media('<=xlg') {
			max-width: 50px;
		}
		
		@include media('<=lg') {
			min-width: 30px;
			max-width: 40px;
		}

		@include media('<=xs') {
			display: none;
		}			

		svg {
			fill: #fff;
			display: block;
			max-height: 22px;
			
			@include media('<=lg') {
				max-height: 18px;
			}
			
			@include media('<=md') {
				max-height: 22px;
			}
		}

		&_card {
			position: relative;

			&[data-cart]::before {
				display: flex;
				content: attr(data-cart);
				width: 14px;
				height: 14px;
				background-color: #E32726;
				border-radius: 50%;
				color: #fff;
				position: absolute;
				right: 0;
				bottom: 100%;
				font-size: 9px;
				line-height: 1;
				align-items: center;
				justify-content: center;
			}

			@include media('<=xlg') {
				margin-left: 15px;
			}

			@include media('<=md') {
				margin-left: auto;
			}

			@include media('<=xs') {
				display: block;
			}			
		}

		&_mobile {
			display: block;

			svg {
				fill: #000;
			}
		}
	}

	&__navi {
		width: 100%;
		height: 100vh;
		height: 100dvh;
		position: fixed;
		z-index: 13;
		top: 0;
		left: -440px; 
		max-width: 440px;
		transition: left 0.2s linear;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

		&.opened {
			left: 0;
		}
	}
}