.f-navi {
	$self: &;
	display: grid;
	grid-template-columns: repeat(3, 1fr) 1.2fr;
	grid-gap: 20px;
	
	@include media('<=md') {
		grid-template-columns: repeat(2, 1fr);
	}
	
	@include media('<=xs') {
		display: flex;
		flex-flow: column nowrap;
		grid-gap: 0;
	}

	&__col {
		display: flex;
		flex-flow: column nowrap;
	
		@include media('<=md') {
			&:first-child {
				order: 1;
			}
		}
	
		@include media('<=xs') {
		}
	}

	&__title {
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 600;
		font-size: 14px;
		padding-bottom: 15px;
		color: inherit;
		
		@include media('<=xs') {
			font-size: 12px;
		}

		&_link {

			@include media('<=xs') {
				display: none;
			}
			
			&:hover {
				text-decoration: underline;
			}			
		}
	}

	&__soc {
		padding-top: 10px;
		margin-bottom: 50px;
			
		@include media('<=xs') {
			margin: 0;
		}
	}

	&__block {
		margin-bottom: 30px;
		
		@include media('<=xs') {
			border-bottom: 1px solid #F5F5F5;
			padding-bottom: 10px;
		}
		
		#{$self}__title {
			@include media('<=xs') {
				display: flex;
				cursor: pointer;

				&::after {
					display: block;
					content: '';
					width: 13px;
					height: 13px;
					opacity: 0.2;
					background: url('#{$images-path}icons-sprite.svg#shape-plus-view-dark') center / contain no-repeat transparent;
					margin-left: auto;
				}
				
				&.opened::after {
					background-image: url('#{$images-path}icons-sprite.svg#shape-minus-view-dark');
					background-size: 100% 1px;
				}
			}
		}

		#{$self}__links {
			@include media('>xs') {
				display: block !important;
			}
	
			@include media('<=xs') {
				display: none;
			}
		}
	}

	&__links {
		font-size: 14px;
			
		@include media('<=xxs') {
			font-size: 12px;
		}

		a {
			display: block;
			text-decoration: none;
			color: inherit;
			padding: 10px 0;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__info {
		padding-top: 15px;
		margin-bottom: 30px;
		font-size: 14px;
			
		@include media('<=xxs') {
			font-size: 12px;
		}

		a, span {
			display: block;
			text-decoration: none;
			color: inherit;
			padding: 10px 0;
			
			@include media('<=xxs') {
				padding: 5px 0;
			}
		}

		a:hover {
			text-decoration: underline;
		}
	}

	&__phone {
		color: inherit;
		text-decoration: none;
		align-self: flex-start;
		
		span:nth-child(1) {
			display: block;
			font-family: "CR", sans-serif;
			font-size: 35px;
			white-space: nowrap;

			@include media('<=xxs') {
				font-size: 32px;
			}
		}
		
		span:nth-child(2) {
			display: block;
			font-size: 14px;
			color: #B1B1B1;
			text-align: right;

			@include media('<=xs') {
				display: none;
			}
		}
	}
}